h1{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.accordion{
    margin: 30px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 100px;
}

.accordion-button {
    background-color: #bd634c;
    color: #ffffff; 
    font-size: 23px;
    font-family: "American Typewriter", serif; 
    text-align: center;
    justify-content: center;
  }

  .content-container {
    padding: 15px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    margin: 10px; 
}

.content-container .accordion-body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6; 
    color: #333; 
}

  