#title h1 {
    font-size: 48px;
    font-family: "American Typewriter", serif;
    font-weight:lighter;
    justify-content: center;
    margin: 24px;
}

#title h2 {
    font-size: 24px;
    font-family: "American Typewriter", serif;
    font-weight: lighter;
    justify-content: center;
    margin: 24px;
}

.content {
    padding: 16px;
    color: #424242;
    justify-content: center;
    font-family: "American Typewriter", serif;
    font-weight: lighter;
}

.footer {
    padding: 4px;
    margin: 4px;
    border: 1px dotted black;
    font-family: "American Typewriter", serif;
}

.footer span {
    font-weight: bold;
}

#biography {
    font-size: 16px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}

#carousel-inner > .carousel-item {
    border-radius: 5px;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    display: inline-block;
}

#attribution {
    font-size: 12px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}

#linktotimeline {
    font-size: 12px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}
#carouselphotos {
    object-fit: contain;
    width: 400px;
    height: 400px;
    margin: auto;
}

.carousel-control-prev-icon{
    position:absolute;
    top:200px;
    z-index: 5;
    width:100%;
}

.carousel-control-next-icon {
    position:absolute;
    top:200px;
    z-index: 5;
    width:100%;
}

.tl-caption .tl-text .tl-credit {
    font-family: "Helvetica Neue", sans-serif;
}
