header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
    color: #333;
    padding: 10px 10px;
    text-align: center;
    z-index: 1000;
}

.flex-container {
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 100%;
    flex: auto;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

main {
    margin: 150px 20px auto 20px;
}


/* Style for the submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    z-index: 1001;
}

/* Style for the submenu items */
.submenu-item {
    margin: 5px 0;
    cursor: pointer;
}

header:hover .submenu {
    display: block;
}