h1{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.accordion{
    margin: 30px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 100px;
}

.accordion-button {
    background-color: #bd634c;
    color: #ffffff; 
    font-size: 23px;
    font-family: "American Typewriter", serif; 
    text-align: center;
  }
  