{% extends 'base_layout.html' %}

{% block title %}
Agatha Christie Biography
{% endblock %}

{% block specific_css %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../static/timelinestyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block content %}

<div id="title" class="div col-md-12">
    <h1>
        Biography of Agatha Christie
    </h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="mainCarousel w-75 -ml-auto">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class = "d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Agatha_Christie_with_her_father_Frederick_Alvah_Miller.jpg" class="d-block" alt="one">
                            <div class="position-relative text-center">
                                <p>Agatha with her father <br> Wikimedia Commons</p></div>
                        </div>
                        <div class="carousel-item tab-pane">
                            <img class = "d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Agatha_Christie_as_a_child_No_1.jpg" class="d-block" alt="two">
                            <div class="position-relative text-center">
                                <p>Agatha as a child <br> Wikimedia Commons</p></div>
                        </div>
                        <div class="carousel-item tab-pane">
                            <img class = "d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Nurse_at_Ashfield.jpg" class="d-block" alt="three">
                            <div class="position-relative text-center">
                                <p>Agatha as a nurse, 1912 <br> Wikimedia Commons</p></div>
                        </div>
                        <div class="carousel-item tab-pane">
                            <img class = "d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Agatha_Christie.png" class="d-block" alt="four">
                            <div class="position-relative text-center">
                                <p>Portrait of Agatha <br> Wikimedia Commons</p></div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Biography content goes here -->
            <div id="biography" class="text">
            </div>
        </div>
    </div>
    <div id="attribution" class="div col-md-4">
        <p>Biography source: Open Library, <a href="https://www.openlibrary.org"></a>https://www.openlibrary.org</p>
    </div>
    <div id="linktotimeline" class="div col-md-12">
        <p><a href="timeline.html" target="_blank">Learn more about events in Agatha's lifetime</a></p>
    </div>
</div>
{% endblock %}

{% block specific_js %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/agathabio.js"></script>
{% endblock %}
